* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    background-color: #cbd5e0;
    padding: 0px 5px;
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    flex-direction: column;
    display: flex;
    height: 100%;
}

header {
    display: flex;
}

.logo-link {
    text-decoration: none;
}

.logo-img {
    width: 48px;
    margin: 5px 24px 5px 0px;
}

.menu {
    display: flex;
    align-items: center;
}
.menu__item {
    list-style: none;
    margin-right: 20px;
}

h2, h1, h3 {
    font-size: 2em;
}

.main-block {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.articles__list {
    margin-top: 10px;
    display: flex;
}

.articles__item {
    list-style: none;
    padding: 15px;
    border: #1a202c solid 1px;
    max-width: 200px;
}

.articles__link {
    font-size: 1.5em;
    padding: 5px 10px;
    background-color: crimson;
    border-radius: 5px;
    align-self: center;
    color: #edf2f7;
    text-decoration: none;
}

.articles__link:hover {
    background-color: brown;
}

.content {
    flex: 1 0 auto;
    min-height: calc(100vh-116px);

}

footer {
    flex: 0 0 auto;

}

.author {
    padding: 20px;
    text-align: center;
}

